<div class="sidebar">
    <!-- Logo sidebar -->
    <a href="#" class="logo">
        <!-- <img src="https://maxartkiller.com/website/AdminuxPRO/HTML/assets/img/logoicon.svg" alt="" class="logo-icon"> -->
        <div class="logo-text">
            <h5 class="fs22 mb-0"><i class="fa fa-edit"></i> Raspadita <sup class="badge badge-danger">v1</sup></h5>
            <p class="text-uppercase fs11">Dashboard</p>
        </div>
    </a>
    <h6 class="subtitle fs11">Principal</h6>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ticket']" href="javascript:void(0)"><i class="material-icons icon">web</i><span>Cobro/Pago</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/apertura']" href="javascript:void(0)"><i class="material-icons icon">filter_none</i><span>Apertura</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cajalocal']" href="javascript:void(0)"><i class="material-icons icon">filter_none</i><span>Cajas</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dispositivolocal']" href="javascript:void(0)"><i class="material-icons icon">filter_none</i><span>Dispositivos</span></a>
        </li>
    </ul>
    <h6 class="subtitle fs11">Reportes</h6>
    <ul class="nav flex-column">
        <li class="nav-item ngbDropdown dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)"><i class="material-icons icon">dashboard</i><span>Reportes</span> <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column">
                <div class="nav-item"><a class="nav-link" [routerLink]="['/resumendia']" href="javascript:void(0)"><span>Resumen Dia</span></a></div>

            </div>
        </li>
    </ul>
    <h6 class="subtitle fs11">Mantenimientos</h6>

    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)"><i class="material-icons icon">games</i><span>Mantenimientos</span> <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column">
                <div class="nav-item"><a class="nav-link" [routerLink]="['/local']" href="javascript:void(0)"><span>Local</span></a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/caja']" href="javascript:void(0)"><span>Cajas</span></a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/dispositivo']" href="javascript:void(0)"><span>Dispositivos</span></a></div>

            </div>
        </li>
    </ul>

    <h6 class="subtitle fs11">Seguridad</h6>

    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)"><i class="material-icons icon">games</i><span>Seguridad</span> <i class="material-icons arrow">expand_more</i></a>
            <div class="nav flex-column">
                <div class="nav-item"><a class="nav-link" [routerLink]="['/permiso']" href="javascript:void(0)"><span>Permisos</span></a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/roles']" href="javascript:void(0)"><span>Roles</span></a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/usuarios']" href="javascript:void(0)"><span>Usuarios</span></a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/usuarioSala']" href="javascript:void(0)"><span>Usuario a Sede</span></a></div>
                <div class="nav-item"><a class="nav-link" [routerLink]="['/auditoria']" href="javascript:void(0)"><span>Auditoria</span></a></div>
            </div>
        </li>
    </ul>
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item active">
            <a class="nav-link" (click)="recargar()" href="javascript:void(0)" title="Recargar Página"><i class="material-icons icon" >cached</i><span>Recargar</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" style="background: linear-gradient(90deg, rgb(125 41 41 / 95%) 0, rgba(0, 0, 0, 0) 100%);" (click)="cerrarSesion()" href="javascript:void(0)" title="Cerrar Sesión"><i class="material-icons icon" style="background-color: red;">input</i><span>Cerrar Sesión</span></a>
        </li>
    </ul>
    <!-- Setting link -->
</div>