<!-- <div class="loader container-fluid">
        <div class="row h-100">
            <div class="col-auto align-self-center  mx-auto text-center">
                <div class="loader-ripple">
                    <div></div>
                    <div></div>
                </div>
                <h2>AdminuxPRO</h2>
                <p>HTML Template</p>
            </div>
        </div>
    </div> -->

    <!-- Sidebar starts -->
    <app-lsidebar></app-lsidebar>
    <!-- Sidebar ends -->

    <!-- wrapper starts -->
    <div class="wrapper">
        <div class="content shadow-sm" style="padding-bottom: 58px;">
            <app-lheader></app-lheader>
            <!-- Main container starts -->
            <div class="main-container container-fluid" id="main-container">
                <router-outlet>
                    <!-- <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card border-0 shadow-sm overflow-hidden mb-4">
                                <div class="card-body py-0">
                                    <div class="row">
                                        <div class="col py-2 pr-0">
                                            <p>Total Profit</p><br>
                                            <h4 class="font-weight-light mb-0"><small>$</small> 25,410</h4>
                                        </div>
                                        <div class="col-auto bg-primary  text-white py-2">
                                            <p class="mb-0"><small>+20%<span class="text-mute d-block">Quarter 3</span></small></p>
                                            <div class="summary-one"><canvas id="summary-one"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card border-0 shadow-sm overflow-hidden mb-4">
                                <div class="card-body py-0">
                                    <div class="row">
                                        <div class="col py-2 pr-0">
                                            <p>Total Loss</p><br>
                                            <h4 class="font-weight-light mb-0"><small>$</small> 15,410</h4>
                                        </div>
                                        <div class="col-auto bg-danger  text-white py-2">
                                            <p class="mb-0"><small>-20%<span class="text-mute d-block">Oil Selling</span></small></p>
                                            <div class="summary-one"><canvas id="summary-two"></canvas></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card border-0 shadow-sm overflow-hidden mb-4">
                                <div class="card-body py-0">
                                    <div class="row">
                                        <div class="col py-2">
                                            <p>Awareness<br><span class="text-template-primary">Frequency</span></p>
                                            <h4 class="font-weight-light mb-0">76.98%</h4>
                                        </div>
                                        <div class="col-auto pl-0 py-2 align-self-center">
                                            <div class="progress-summary">
                                                <p class="mb-0">+75.98%<br><small><span class="text-mute d-block small">Male-Female</span></small></p>
                                                <div class="circle-progress" id="circle-green"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-3">
                            <div class="card border-0 shadow-sm overflow-hidden mb-4">
                                <div class="card-body py-0">
                                    <div class="row">
                                        <div class="col py-2 pr-0">
                                            <p>Total Deals</p><br>
                                            <h4 class="font-weight-light mb-0">15410</h4>
                                        </div>
                                        <div class="col-auto border-left-dashed py-2">
                                            <p class="mb-0"><small>15%<span class="text-mute d-block">Oil Selling</span></small></p>
                                            <div id="summarysparklines"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card border-0 shadow-sm mb-4">
                                <div class="background-half text-template-primary-opac-10 h-200"></div>
                                <div class="card-header border-0 bg-none">
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs15">Order Summary<br><small class="text-template-primary-light">Update about sales, payment and tickets</small></p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="material-icons">more_horiz</i>
                                              </button>
                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another</a>
                                                    <a class="dropdown-item" href="#">Something</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <p class="text-template-primary-light small mb-2">Order Completed</p>
                                    <h4 class="font-weight-light mb-0"><small>$</small> 25,410</h4>
                                    <div class="row mt-3">
                                        <div class="col-12 col-md-11 mx-auto mw-300">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card border-0 shadow mb-4">
                                                        <div class="card-body text-center">
                                                            <i class="material-icons">shopping_basket</i>
                                                            <p class="text-template-primary-light small mb-1">Received </p>
                                                            <h6 class="mb-0">15,280</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="card border-0 shadow mb-4">
                                                        <div class="card-body text-center">
                                                            <i class="material-icons">event_available</i>
                                                            <p class="text-template-primary-light small mb-1">Accepted</p>
                                                            <h6 class="mb-0">5,410</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="card border-0 shadow mb-3">
                                                        <div class="card-body text-center">
                                                            <i class="material-icons">local_shipping</i>
                                                            <p class="text-template-primary-light small mb-1">On the way</p>
                                                            <h6 class="mb-0">3,120</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="card border-0 shadow mb-3">
                                                        <div class="card-body text-center">
                                                            <i class="material-icons">error_outline</i>
                                                            <p class="text-template-primary-light small mb-1">Reported</p>
                                                            <h6 class="mb-0">410</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-4">
                            <div class="card border-0 shadow-sm h-100">
                                <div class="card-header border-0 bg-none">
                                    <div class="row">
                                        <div class="col">
                                            <p class="fs15">Sales<br><small class="text-template-primary-light">Per Quarter</small></p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle btn-sm btn-link" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="material-icons">more_horiz</i>
                                              </button>
                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another</a>
                                                    <a class="dropdown-item" href="#">Something</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="areachart">
                                        <canvas id="mixedchartjs"></canvas>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 text-right">
                                            <p class="mb-1">Total Sales <i class="material-icons text-template-primary fs15 vm">album</i></p>
                                            <p class="text-template-primary-light">25600</p>
                                        </div>
                                        <div class="col-6 border-left-dashed">
                                            <p class="mb-1"><i class="material-icons text-template-primary-light fs15 vm">album</i> Referral Sales</p>
                                            <p class="text-template-primary-light">6500</p>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
                            <div class="card border-0 shadow-sm mb-4">
                                <div class="card-header border-0 bg-none">
                                    <div class="row">
                                        <div class="col align-self-center">
                                            <p class="fs15">Sales by Categories</p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle btn-sm btn-link py-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="material-icons">more_horiz</i>
                                              </button>
                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another</a>
                                                    <a class="dropdown-item" href="#">Something</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="row">
                                        <div class="col-auto text-center align-self-center">
                                            <div class="donughtchart">
                                                <canvas id="donughtchart"></canvas>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row mb-1">
                                                <div class="col-auto">
                                                    <i class="material-icons text-template-primary fs15 vm">album</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <p>Referral Sale <small class="d-block"><span class="text-template-primary">2548</span> <span class="text-danger">20%</span></small></p>
                                                </div>
                                            </div>
                                            <div class="row mb-1">
                                                <div class="col-auto">
                                                    <i class="material-icons text-success fs15 vm">album</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <p>Direct Sales <small class="d-block"><span class="text-template-primary">2548</span> <span class="text-success">15%</span></small></p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-auto">
                                                    <i class="material-icons text-danger fs15 vm">album</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <p>Offline Sales <small class="d-block"><span class="text-template-primary">2548</span> <span class="text-success">18%</span></small></p>
                                                </div>
                                            </div>
    
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0 shadow-sm mb-4">
                                <div class="card-header border-0 bg-none">
                                    <div class="row">
                                        <div class="col align-self-center">
                                            <p class="fs15">Bounce Rate</p>
                                        </div>
                                        <div class="col-auto">
                                            <div class="dropdown">
                                                <button class="btn dropdown-toggle btn-sm btn-link py-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                  <i class="material-icons">more_horiz</i>
                                              </button>
                                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another</a>
                                                    <a class="dropdown-item" href="#">Something</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12 text-center align-self-center">
                                            <div class="linechart-large">
                                                <canvas id="linechartlarge"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                    </div> -->
                  
                    
                </router-outlet>
               
            </div>
            <!-- Main container ends -->


        </div>
       
        <!-- footer -->
        <app-lfooter class=""></app-lfooter>
    </div>
    <!-- wrapper ends -->
