.wrapper {
    padding-left: 0px !important;
}

::placeholder {
    color: #fff;
  }

  .btn-primary:disabled {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(124 26 201);
    border-color: rgb(187 148 227);
}