<app-lsidebar></app-lsidebar>
<div class="wrapper">
    <div class="content shadow-sm" style="padding-bottom: 58px;">
        <app-lheader></app-lheader>
        <div class="container-fluid header-container">
            <div class="row submenu">
                <div class="container-fluid" id="submenu-container">
                    <div class="row py-2">

                        <div class="col">
                            <h6 class="font-weight-light mt-1">Lista de Cajas Local<br><small class="text-mute">Registros de
                  Cajas de Local</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main container starts -->
        <div class="main-container container-fluid" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-body ">
                    <div class="view">
                        <div class="wrapper_">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-striped table-hover display " width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th class="bg-warning">NOMBRE</th>
                                        <th>F. REGISTRO</th>
                                        <th>ESTADO</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let caja of listacaja">
                                        <td>{{ caja.id }}</td>
                                        <td class="text-nowrap text-left">{{ caja.nombre }}</td>
                                        <td class="text-nowrap text-left">{{ caja.fecharegistro_string }}</td>
                                        <td class="text-nowrap text-left"><span class="badge badge-{{caja.clase}}">{{ caja.estado_string }}</span></td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>

    <app-lfooter class=""></app-lfooter>
</div>