<!-- Sidebar starts -->
<app-lsidebar></app-lsidebar>
<!-- Sidebar ends -->

<!-- wrapper starts -->
<div class="wrapper">
    <div class="content shadow-sm" style="padding-bottom: 58px;">
        <app-lheader></app-lheader>
        <div class="container-fluid header-container">
            <div class="row submenu">
                <div class="container-fluid" id="submenu-container">
                    <div class="row py-2">
                        <div class="col">
                            <h6 class="font-weight-light mt-1">GENERAR TICKET / PAGAR<br><small class="text-mute">Registros de
                  Ticket</small></h6>
                        </div>
                        <div class="col-auto align-self-center">
                            <h5> Monto : {{monto}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main container starts -->
        <div class="main-container container-fluid" id="main-container">
            <div class="card border-0 shadow-sm mb-4">
                <div class="card-body ">
                    <div class="view">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-6">
                                <button class="btn btn-danger col-12 btn-block pt-3 pb-3 mb-1" (click)="acreditar()"><i style="margin-top: -7px;" class="fa fa-address-book"></i> GENERAR</button>
                            </div>
                            <div class="col-md-6 col-sm-6 col-6">
                                <button class="btn btn-primary col-12 btn-block pt-3 pb-3 mb-1" (click)="pagar()"><i style="margin-top: -7px;" class="fa fa-outdent"></i> PAGAR</button>
                            </div>
                        </div>
                        <hr style="border-bottom: 1px solid #fff;">
                        <div class="wrapper_">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm table-bordered table-striped table-hover display " width="100%">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nro.</th>
                                        <th>DISPOSITIVO</th>
                                        <th>CREDITO</th>
                                        <th>MONTO</th>
                                        <th>F. REGISTRO</th>
                                        <th>ESTADO</th>
                                        <th class="text-center">ACCION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let ticket of listaticket">
                                        <td>{{ ticket.id }}</td>
                                        <td class="text-nowrap text-left">{{ ticket.nroticket }}</td>
                                        <td class="text-nowrap text-left">{{ ticket.puntojuego_nombre }} - {{ ticket.puntojuego_ip }}</td>
                                        <td class="text-nowrap text-left">{{ ticket.credito }}</td>
                                        <td class="text-nowrap text-left">{{ ticket.monto }}</td>
                                        <td class="text-nowrap text-left">{{ ticket.fecharegistro_string }}</td>
                                        <td class="text-nowrap text-left"><span class="badge badge-{{ticket.clase}}">{{ ticket.estado_string }}</span></td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-sm" (click)="open(modalSaldo,'sm')" (click)="opensaldo(ticket.id)"><i
                                                    class="fa fa-edit"></i> Saldo</button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>



    <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
    <ng-template class="" #modalSaldo let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Saldo Ticket</h4>
            <button type="button" class="close btn-sm" aria-label="Close" (click)="modal.dismiss('Cross click')"><i
          class="material-icons icon md-18">close</i></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group ">
                        <div class="form-control text-right tamanio">
                            Nro Ticket : {{ticketSaldo.nroticket}}
                        </div>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="form-group ">
                        <div class="form-control text-right tamanio_saldo">
                            Saldo : {{ticketSaldo.monto}}
                        </div>

                    </div>
                </div>

                <div class="col-lg-12 col-md-12">
                    <div class="form-group ">
                        <div class="form-control text-right tamanio" style="height: 62px;">
                            {{ticketSaldo.message}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" (click)="modal.close()"><i class="fa fa-close"></i> Cerrar</button>

        </div>
    </ng-template>


    <app-lfooter class=""></app-lfooter>
</div>