<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">NUEVO REGISTRO</h4>
    <button type="button" class="close btn-sm" aria-label="Close" (click)="activeModal.dismiss('Cross click')"><i
  class="material-icons icon md-18">close</i></button>
</div>
<div class="modal-body">
    <form autocomplete="off" [autocomplete]="false" [formGroup]="onCreateForm">

        <div class="row ">
            <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                    <label>Nombre</label>
                    <input type="text" [(ngModel)]="rol.nombre" formControlName="nombre" class="form-control" placeholder="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group ">
                    <label>Estado</label>
                    <ng-select class="" formControlName="estado" placeholder="Seleccione" [(ngModel)]="rol.estado" [clearable]="true" [searchable]="false" [multiple]="false">
                        <ng-option [value]="true">Activo</ng-option>
                        <ng-option [value]="false">Inactivo</ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss()">Cerrar</button>
    <button type="button" class="btn btn-danger" (click)="guardar()">Guardar</button>
</div>