<div class="container-fluid header-container">
    <div class="row header">
        <div class="container-fluid " id="header-container">
            <div class="row">
                <!-- Header starts -->
                <nav class="navbar col-12 navbar-expand ">
                    <button class="menu-btn btn btn-link btn-sm" type="button">
                      <i class="material-icons">menu</i>
                  </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        Regasist v2


                        <!-- icons dropwdowns starts -->
                        <ul class="navbar-nav ml-auto">


                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">view_day</i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown5">
                                    <div class="position-relative text-center rounded">
                                        <div class="background">
                                            <img src="assets/images/background-part.png" alt="">
                                        </div>
                                        <div class="py-3 text-white">
                                            <h5 class="font-weight-normal mb-3">Tasks</h5>
                                            <div class="px-3">
                                                <ul class="nav nav-pills tab-white nav-fill" id="tasks" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-home" aria-selected="true">Task</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-profile" aria-selected="false">Activity</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="pills-contact" aria-selected="false">Alert</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content" id="tasksContent">
                                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                            <div class="scroll-y h-320 d-block">
                                                <div class="dropdown-item status-border border-warning">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checktask1">
                                                                <label class="custom-control-label" for="checktask1"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">6:33 | Attend Meeting</p>
                                                            <p class="small text-mute">Meeting with team regarding new project live integration.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown-item status-border border-danger">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checktask2">
                                                                <label class="custom-control-label" for="checktask2"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">7:33 | Drink Water</p>
                                                            <p class="small text-mute">Reminder for drinking water is very important.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown-item status-border border-warning">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checktask3">
                                                                <label class="custom-control-label" for="checktask3"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">8:00 | work for timesheet</p>
                                                            <p class="small text-mute">Working for calendar module in timesheet. First entry and secondly for display</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown-item status-border border-success">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checktask4">
                                                                <label class="custom-control-label" for="checktask4"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">10:45 | Reverse proccess Training</p>
                                                            <p class="small text-mute mb-2">Must attend training which is basically the most advisable to setup role and descipline.</p>
                                                            <figure class="avatar avatar-20"><img src="assets/images/user1.png" alt=""></figure>
                                                            <figure class="avatar avatar-20"><img src="assets/images/user1.png" alt=""></figure>
                                                            <figure class="avatar avatar-20"><img src="assets/images/user1.png" alt=""></figure>
                                                            <figure class="avatar avatar-20">20+</figure>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown-item status-border border-primary">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checktask5">
                                                                <label class="custom-control-label" for="checktask5"></label>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">6:33 | Attend Meeting</p>
                                                            <p class="small text-mute">Meeting with team regarding new project live integration.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="dropdown-item border-top">
                                                <button class="btn btn-primary text-white btn-block mt-2"><span>Complete</span><i class="material-icons md-18">arrow_forward</i></button>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                            <div class="scroll-y h-320 d-block">
                                                <a class="dropdown-item" href="#">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <div class="timeline-circle-wrap">
                                                                <div class="timeline-circle border-warning"><span class="bg-warning"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">We become world most valauble</p>
                                                            <p class="small text-mute">Thank you for all of your support and well wishes</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <div class="timeline-circle-wrap">
                                                                <div class="timeline-circle border-danger"><span class="bg-danger"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">Team Closer</p>
                                                            <p class="small text-mute mb-1">Maxartkiller Team</p>
                                                            <figure class="avatar avatar-30"><img src="assets/images/user1.png" alt=""></figure>
                                                            <figure class="avatar avatar-30"><img src="assets/images/user1.png" alt=""></figure>
                                                            <figure class="avatar avatar-30"><img src="assets/images/user1.png" alt=""></figure>
                                                            <figure class="avatar avatar-30"><img src="assets/images/user1.png" alt=""></figure>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <div class="timeline-circle-wrap">
                                                                <div class="timeline-circle border-success"><span class="bg-success"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">Final Amendments are done </p>
                                                            <p class="small text-mute">Creative visual hierarchy completed</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <div class="timeline-circle-wrap">
                                                                <div class="timeline-circle border-primary"><span class="bg-primary"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">Vision deployment done</p>
                                                            <p class="small text-mute">UX designer worked upon timline</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item" href="#">
                                                    <div class="row">
                                                        <div class="col-auto">
                                                            <div class="timeline-circle-wrap">
                                                                <div class="timeline-circle border-info"><span class="bg-info"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <p class="mb-0">Critical Bug resolved</p>
                                                            <p class="small text-mute">Cleared list for bugs and development.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="scroll-y h-320 d-block">
                                                <a class="dropdown-item border-top new" href="#">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-template-primary">local_mall</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <p class="mb-0">New Order received</p>
                                                                </div>
                                                                <div class="col-auto pl-0">
                                                                    <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                                </div>
                                                            </div>
                                                            <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                                        </div>

                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-top " href="#">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-template-primary">account_balance_wallet</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <p class="mb-0">Balance has benn added</p>
                                                                </div>
                                                                <div class="col-auto pl-0">
                                                                    <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                                </div>
                                                            </div>
                                                            <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-top " href="#">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-template-primary">account_circle</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <p class="mb-0">Friend request received</p>
                                                                </div>
                                                                <div class="col-auto pl-0">
                                                                    <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                                </div>
                                                            </div>
                                                            <p class="small text-mute">New friend request received from Mickey John from Australia</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-top" href="#">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-template-primary">check_circle</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <p class="mb-0">Email Updated</p>
                                                                </div>
                                                                <div class="col-auto pl-0">
                                                                    <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                                </div>
                                                            </div>
                                                            <p class="small text-mute">Your email change request has been successfully updated</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="dropdown-item border-top " href="#">
                                                    <div class="row">
                                                        <div class="col-auto align-self-center">
                                                            <i class="material-icons text-template-primary">account_balance_wallet</i>
                                                        </div>
                                                        <div class="col pl-0">
                                                            <div class="row mb-1">
                                                                <div class="col">
                                                                    <p class="mb-0">Balance has benn added</p>
                                                                </div>
                                                                <div class="col-auto pl-0">
                                                                    <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                                </div>
                                                            </div>
                                                            <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                           
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">email</i>
                                    <span class="counter bg-danger">1</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm-left dropdown-menu-center no-defaults pt-0 overflow-hidden" aria-labelledby="navbarDropdown5">
                                    <div class="position-relative text-center rounded">
                                        <div class="background">
                                            <img src="assets/images/background-part.png" alt="">
                                        </div>
                                        <div class="py-3 text-white">
                                            <h5 class="font-weight-normal">Messages</h5>
                                            <p>Updates and Status</p>
                                        </div>

                                    </div>
                                    <div class="scroll-y h-320 d-block">
                                        <a class="dropdown-item border-top new" href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">local_mall</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">New Order received</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                                </div>

                                            </div>
                                        </a>
                                        <a class="dropdown-item border-top " href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">account_balance_wallet</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">Balance has benn added</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-top " href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">account_circle</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">Friend request received</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">New friend request received from Mickey John from Australia</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-top" href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">check_circle</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">Email Updated</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">Your email change request has been successfully updated</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-top " href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">account_balance_wallet</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">Balance has benn added</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">Order from Anand Mhatva recieved for Electronics with 6 quanity.</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-top " href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">account_circle</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">Friend request received</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">New friend request received from Mickey John from Australia</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="dropdown-item border-top" href="#">
                                            <div class="row">
                                                <div class="col-auto align-self-center">
                                                    <i class="material-icons text-template-primary">check_circle</i>
                                                </div>
                                                <div class="col pl-0">
                                                    <div class="row mb-1">
                                                        <div class="col">
                                                            <p class="mb-0">Email Updated</p>
                                                        </div>
                                                        <div class="col-auto pl-0">
                                                            <p class="small text-mute text-trucated mt-1">2/12/2019</p>
                                                        </div>
                                                    </div>
                                                    <p class="small text-mute">Your email change request has been successfully updated</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li> -->

                            <!-- profile dropdown-->
                            <li class="nav-item dropdown ml-0 ml-sm-4">
                                <a class="nav-link dropdown-toggle profile-link" href="#" id="navbarDropdown6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    <div class="username-text ml-2 mr-2  d-lg-inline-block">
                                        <h6 class="username"><span>Bienvenido,</span>{{usu_nombre}}</h6>
                                    </div>
                                    <figure class="rounded avatar avatar-30  d-md-inline-block">
                                        <i class="material-icons">expand_more</i>
                                    </figure>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right w-300 pt-0 overflow-hidden" aria-labelledby="navbarDropdown6">



                                    <a class="dropdown-item border-top" href="javascript:void(0)">
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <i class="material-icons text-success">account_box</i>
                                            </div>
                                            <div class="col pl-0">
                                                <p class="mb-0">Cuenta</p>
                                                <p class="small text-mute text-trucated">Update details and information</p>
                                            </div>
                                            <div class="col-auto align-self-center text-right pl-0">
                                                <i class="material-icons text-mute small">chevron_right</i>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="dropdown-item border-top" (click)="cerrarSesion()" href="javascript:void(0)">
                                        <div class="row">
                                            <div class="col-auto align-self-center">
                                                <i class="material-icons text-danger">exit_to_app</i>
                                            </div>
                                            <div class="col pl-0">
                                                <p class="mb-0 text-danger">Salir</p>
                                            </div>
                                            <div class="col-auto align-self-center text-right pl-0">
                                                <i class="material-icons text-mute small text-danger">chevron_right</i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <!-- icons dropwdowns starts -->
                    </div>
                </nav>
                <!-- Header ends -->
            </div>
        </div>
    </div>

</div>